.viewstd{
    .table{
        .thead{
         display: flex;
         margin-top: 100px;
         margin-left: 260px;
         height: 50px;
         width: 1170px;
         background: rgb(97, 253, 136);
         align-items: center;
         border-radius: 5px;
         .contain{
            display: flex;
            float: left;
            width: 250px;
            justify-content: center;
            h5{
                background: transparent;
            }
           }
           .contain1{
            display: flex;
            float: left;
            width: 130px;
            justify-content: center;
            h5{
                background: transparent;
            }
           }
        }
        .tbody{
         display: flex;
         margin-top: 5px;
         margin-left: 260px;
         height: 50px;
         width: 1170px;
         background: blanchedalmond;
         border-radius: 5px;
         .contain1{
            display: flex;
            float: left;
            width: 130px;
            justify-content: center;
            h6{
                background: transparent;
            }
            button{
                background: rgb(245, 82, 0);
                color: aliceblue;
                border: none;
                border-radius: 20px;
                margin-top: 8px;
                height: 35px;
                width: 90px;
                h6{
                    margin-top: 0px;
                }
            }
           }
           .contain{
            display: flex;
            float: left;
            width: 250px;
            justify-content: center;
            h6{
                background: transparent;
            }
           }
        }
     }
}